  
.DS_Store
bin
vendor
terraform-provider-powerstore
.scannerwork
#vscode files
.vscode/*
.vscode

# Ignore client generation util artifacts
__pycache__
openapi-generator-cli-6.6.0.jar

# Ignore CLI configuration files
.terraformrc
terraform.rc
terraform
.git-authors

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*/.terraform.lock.hcl
test*
out

# Crash log files
crash.log
*.log
testlogfile

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars file
*.tfvars

# Local .terraform directories
**/.terraform/*

# Coverage Test Files
cover.*\
coverage.*
env*
c.out
