/*
PowerStore REST API

Storage cluster REST API definition. ( For \"Try It Out\", use the cluster management IP address to load this swaggerui interface. )

API version: 4.1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package clientgen

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// RemoteSystemApiService RemoteSystemApi service
type RemoteSystemApiService service

type ApiDeleteRemoteSystemByIdRequest struct {
	ctx        context.Context
	ApiService *RemoteSystemApiService
	id         string
	body       *map[string]interface{}
}

// Parameters to delete a remote system.
func (r ApiDeleteRemoteSystemByIdRequest) Body(body map[string]interface{}) ApiDeleteRemoteSystemByIdRequest {
	r.body = &body
	return r
}

func (r ApiDeleteRemoteSystemByIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteRemoteSystemByIdExecute(r)
}

/*
DeleteRemoteSystemById Delete

Delete a remote system. Deleting the remote system deletes the management and data connections established with the remote system. You cannot delete a remote system if there are active import sessions or if there are remote protection policies in the system referencing the remote system instance.

By default for PowerStore remote systems, the relationship is deleted in both directions if the remote system is online and reachable.  If there is no management connectivity between the local and remote PowerStore systems then the remote system will only be deleted from the local PowerStore system. Once the remote PowerStore system is back online and reachable then the user can log in to the remote PowerStore system and delete its remote system.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Unique identifier of the remote system.  name:{name} can be used instead of {id}.
	@return ApiDeleteRemoteSystemByIdRequest
*/
func (a *RemoteSystemApiService) DeleteRemoteSystemById(ctx context.Context, id string) ApiDeleteRemoteSystemByIdRequest {
	return ApiDeleteRemoteSystemByIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
func (a *RemoteSystemApiService) DeleteRemoteSystemByIdExecute(r ApiDeleteRemoteSystemByIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RemoteSystemApiService.DeleteRemoteSystemById")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/remote_system/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetAllRemoteSystemsRequest struct {
	ctx        context.Context
	ApiService *RemoteSystemApiService
	queries    url.Values
}

func (r ApiGetAllRemoteSystemsRequest) Queries(in url.Values) ApiGetAllRemoteSystemsRequest {
	r.queries = in
	return r
}

func (r ApiGetAllRemoteSystemsRequest) Execute() ([]RemoteSystemInstance, *http.Response, error) {
	return r.ApiService.GetAllRemoteSystemsExecute(r)
}

/*
GetAllRemoteSystems Collection Query

Query remote systems.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetAllRemoteSystemsRequest
*/
func (a *RemoteSystemApiService) GetAllRemoteSystems(ctx context.Context) ApiGetAllRemoteSystemsRequest {
	return ApiGetAllRemoteSystemsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []RemoteSystemInstance
func (a *RemoteSystemApiService) GetAllRemoteSystemsExecute(r ApiGetAllRemoteSystemsRequest) ([]RemoteSystemInstance, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []RemoteSystemInstance
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RemoteSystemApiService.GetAllRemoteSystems")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/remote_system"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := r.queries
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetRemoteSystemByIdRequest struct {
	ctx        context.Context
	ApiService *RemoteSystemApiService
	queries    url.Values
	id         string
}

func (r ApiGetRemoteSystemByIdRequest) Queries(in url.Values) ApiGetRemoteSystemByIdRequest {
	r.queries = in
	return r
}

func (r ApiGetRemoteSystemByIdRequest) Execute() (*RemoteSystemInstance, *http.Response, error) {
	return r.ApiService.GetRemoteSystemByIdExecute(r)
}

/*
GetRemoteSystemById Instance Query

Query a remote system instance.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Unique identifier of the remote system.  name:{name} can be used instead of {id}.
	@return ApiGetRemoteSystemByIdRequest
*/
func (a *RemoteSystemApiService) GetRemoteSystemById(ctx context.Context, id string) ApiGetRemoteSystemByIdRequest {
	return ApiGetRemoteSystemByIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return RemoteSystemInstance
func (a *RemoteSystemApiService) GetRemoteSystemByIdExecute(r ApiGetRemoteSystemByIdRequest) (*RemoteSystemInstance, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *RemoteSystemInstance
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RemoteSystemApiService.GetRemoteSystemById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/remote_system/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := r.queries
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPatchRemoteSystemByIdRequest struct {
	ctx        context.Context
	ApiService *RemoteSystemApiService
	id         string
	body       *RemoteSystemModify
}

// Parameters to modify the remote system.
func (r ApiPatchRemoteSystemByIdRequest) Body(body RemoteSystemModify) ApiPatchRemoteSystemByIdRequest {
	r.body = &body
	return r
}

func (r ApiPatchRemoteSystemByIdRequest) Execute() (*http.Response, error) {
	return r.ApiService.PatchRemoteSystemByIdExecute(r)
}

/*
PatchRemoteSystemById Modify

Modify a remote system instance. The list of valid parameters depends on the type of remote system.

For PowerStore remote systems:

  - Description
  - Management address - An IP address
  - add_powerstore_data_network_groups
  - modify_powerstore_data_network_groups
  - remove_powerstore_data_network_group_ids
  - Data network latency type

Only one network group operation (add_powerstore_data_network_groups, modify_powerstore_data_network_groups, remove_powerstore_data_network_group_ids) is supported per request.

For VNX remote systems, file_connection_address, vnx_username and password may be provided during modify if they are not already set.
For VNX2 remote systems, mgmt_address, vnx_username and password are not necessary to modify the VNX2 remote system from block to unified if they are already set.

* Description
* Management address - IP address or FQDN.
* Remote administrator credentials
* File connection address - Control station IPv4 or IPv6 address of the VNX.
* NAS admin username
* NAS admin password

In Unity remote systems, for file import capability, service account credentials can be provided in unity file details during modify if it does not exist already. Otherwise only service_account_password is allowed to modify:
* Description
* Management address - IP address or FQDN.
* Remote administrator credentials
* unity file details

For Data Domain remote systems, the attributes that can be modified are:
* Management address
* Remote Password

For PowerMax/VMAX remote systems, the attributes that can be modified are:
* Description
* Management address - IP address or FQDN.
* Remote administrator credentials
* Management Port

For other non-PowerStore remote systems, the attributes that can be modified are:
* Name
* Description
* Management address - IP address or FQDN.
* Remote administrator credentials

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Unique identifier of the remote system.  name:{name} can be used instead of {id}.
	@return ApiPatchRemoteSystemByIdRequest
*/
func (a *RemoteSystemApiService) PatchRemoteSystemById(ctx context.Context, id string) ApiPatchRemoteSystemByIdRequest {
	return ApiPatchRemoteSystemByIdRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
func (a *RemoteSystemApiService) PatchRemoteSystemByIdExecute(r ApiPatchRemoteSystemByIdRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPatch
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RemoteSystemApiService.PatchRemoteSystemById")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/remote_system/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.body == nil {
		return nil, reportError("body is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiPostAllRemoteSystemsRequest struct {
	ctx        context.Context
	ApiService *RemoteSystemApiService
	body       *RemoteSystemCreate
}

// Parameters to create a remote system.
func (r ApiPostAllRemoteSystemsRequest) Body(body RemoteSystemCreate) ApiPostAllRemoteSystemsRequest {
	r.body = &body
	return r
}

func (r ApiPostAllRemoteSystemsRequest) Execute() (*CreateResponse, *http.Response, error) {
	return r.ApiService.PostAllRemoteSystemsExecute(r)
}

/*
PostAllRemoteSystems Create

Create a new remote system relationship for the local PowerStore.

For PowerStore remote systems, the following parameters are required:
* Management address - An IP address
* Type of remote system
* Data network latency type

PowerStore remote systems will support Unified (Block and File) by default.  The relationship will be created for both directions, which enables remote replication capabilities for storage resources on either of the PowerStore systems.  Data connections are configured based on the local and remote storage networks that are defined to be used for replication data transfer.  When a remote system is created for a remote PowerStore, both systems automatically discover the available local and remote storage networks that are tagged for replication.   Then a default network group will be created with the local and remote storage networks tagged for replication use-cases.

For block import to PowerStore, remote systems can be created for PS_Equalogic, Storage_Center, XtremeIO, NetApp, PowerMax/VMAX, VNX, and some universal storage systems. For VNX and Unity, both block and file import are supported. Unity, Storage_Center, XtremeIO, and VNX remote systems can be created with data connection type of iSCSI or FC.  PS_Equalogic and NetApp can only be created with data connection type of iSCSI.  PowerMax/VMAX can only be created with data connection type of FC.

For VNX, Unity, PS_Equallogic, Storage_Center, XtremeIO, and NetApp remote systems with iSCSI as the data connection type, the following parameters are required:
* Management address - Either an IP address or FQDN.
* Type of remote system
* Name
* Description
* Remote administrator credentials
* iSCSI address - IPv4 address only
* CHAP mode for discovery or session
* CHAP secrets details

For VNX, Unity, Storage_Center, XtremeIO, and PowerMax/VMAX remote systems with FC as the data connection type, the following parameters are required:
* Management address - Either an IP address or FQDN.
* Type of remote system
* Name
* Description
* Remote administrator credentials
* Data Connection Type - FC
* Management Port - Management port is applicable only for PowerMax/VMAX remote system.

For VNX remote systems for file import, include the following parameters along with above block parameters for both block and file import or only below file parameters for file import only cases:
* File connection address - Control station IP address of the VNX.
* VNX as type of remote system
* NAS admin username
* NAS admin password
* Name
* Description

To create unified (Block and File) Unity remote systems, the following parameters are required:
* Management address - Either an IP address or FQDN.
* Unity as type of remote system
* Description
* Remote administrator credentials
* iSCSI address - IPv4 address only
* Data Connection type - iSCSI
* CHAP mode for discovery or session
* CHAP secrets details
* Unity file details

To create a Data Domain remote system, the following parameters are required:
* Management address - Either an IP address or FQDN.
* Type of remote system
* Name
* Description
* Remote user name
* Remote user password
* Data Domain details

To create a universal remote system, the following parameters are required:
* Management address - IP address or FQDN.
* Universal as the type of remote system
* Name
* Description
* Data Connection Type - iSCSI/FC
* iSCSI address - IPv4 address applicable only for data connection type iSCSI
* CHAP mode for discovery or session - applicable only for data connection type iSCSI
* CHAP secrets details - applicable only for data connection type iSCSI
* Universal details - applicable only for data connection type FC

Based on the type of remote system and version of PowerStore software, the system will automatically determine the capabilities for that remote system.
After the remote system relationship is created, the local system can communicate with the remote system, and open data connections for data transfer.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiPostAllRemoteSystemsRequest
*/
func (a *RemoteSystemApiService) PostAllRemoteSystems(ctx context.Context) ApiPostAllRemoteSystemsRequest {
	return ApiPostAllRemoteSystemsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CreateResponse
func (a *RemoteSystemApiService) PostAllRemoteSystemsExecute(r ApiPostAllRemoteSystemsRequest) (*CreateResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CreateResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RemoteSystemApiService.PostAllRemoteSystems")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/remote_system"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.body == nil {
		return localVarReturnValue, nil, reportError("body is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
